.category-button {
  padding: 1.5rem 1rem;
  font-size: 1.5rem;
  font-weight: 300;
  cursor: pointer;

  &.isHighlighted {
    background: #272727;
  }
  &:hover {
    background: #404040;
  }
  border-radius: 1rem;

  .side-box {
    display: flex;
    gap: 2rem;
  }
}
