@import "../abstracts/variables.scss";

.nav-side {
  position: sticky;
  top: 60px;
  left: 0;
  height: calc(100vh - 60px);
  width: 23rem;
  font-weight: 100;
  background: $main-color;

  .side-container {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

    strong {
      display: inline-block;
      font-size: 1.8rem;
      padding: 1rem;
    }

    .subscribe-side-list {
      padding: 0 1rem;
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
      height: 20px;
    }
  }
}
