@mixin activity-button {
  padding: 0 2rem;
  height: 100%;
  font-size: 1.5rem;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 2rem;
  cursor: pointer;

  &:hover {
    background: #bbbbbb;
  }
  &:active {
    background: #6f6f6f;
  }

  &.highlighted {
    background: rgb(75, 75, 75);
  }
}
